 .u-section-1 {
  background-image: url("images/image2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 839px;
}

.u-section-1 .u-image-1 {
  width: 500px;
  height: 100px;
  margin: 107px auto 0;
}

.u-section-1 .u-group-1 {
  width: 529px;
  background-image: none;
  min-height: 560px;
  height: auto;
  border-style: solid;
  margin: 36px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 33px 6px 0;
}

.u-section-1 .u-form-1 {
  height: 343px;
  width: 493px;
  margin: 36px auto 0;
}

.u-section-1 .u-input-1 {
  background-image: linear-gradient(white, #eaeaea);
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  background-image: linear-gradient(white, #eaeaea);
}

.u-section-1 .u-text-2 {
  margin-left: 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 0;
    margin-left: 200px;
    height: auto;
  }

  .u-section-1 .u-form-1 {
    width: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-1 .u-group-1 {
    margin-left: auto;
    margin-right: 191px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 11px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-form-1 {
    width: 493px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 68px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 77px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 11px;
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}